@import "../mixins/var.scss";

.liu-zoom-in-top-enter-active,
.liu-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $md-fade-transition;
  transform-origin: center top;
}
.liu-zoom-in-top-enter,
.liu-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}
