@charset "UTF-8";
@import "mixins/var";
@import "mixins/mixins";

@include b(alert) {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  background-color: $color-white;

  @include when(center) {
    justify-content: center;
  }

  @include e(content) {
    display: table-cell;
    padding: 0 8px;
  }

  @include e(close) {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
  }

  @include m(success) {
    background-color: $color-success;
    &.is-light {
      background-color: $alert-success-color;
      color: $color-success;
    }

    &.is-dark {
      background-color: $color-success;
      color: $color-white;
    }
  }

  @include m(info) {
    background-color: $color-info;
    &.is-light {
      background-color: $alert-info-color;
      color: $color-info;
    }

    &.is-dark {
      background-color: $color-info;
      color: $color-white;
    }
  }

  @include m(warning) {
    background-color: $color-warning;
    &.is-light {
      background-color: $alert-warning-color;
      color: $color-warning;
    }

    &.is-dark {
      background-color: $color-warning;
      color: $color-white;
    }
  }

  @include m(error) {
    background-color: $color-danger;
    &.is-light {
      background-color: $alert-error-color;
      color: $color-danger;
    }

    &.is-dark {
      background-color: $color-danger;
      color: $color-white;
    }
  }
}
