@charset "UTF-8";
@import "mixins/var";
@import "mixins/mixins";

@include b(input) {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-default;

  @include e(inner) {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: $input-height;
    padding: 0 15px;
    line-height: $input-height;
    color: $input-font-color;
    font-size: inherit;
    outline: none;
    border: $input-border;
    border-radius: $input-border-radius;
    transition: $border-default-transition;
    -webkit-appearance: none;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:hover {
      border-color: $input-border-color-hover;
    }

    &:focus {
      border-color: $input-border-color-focus;
    }
  }

  .fa {
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: $input-height;
  }

  @include e(prefix) {
    position: absolute;
    height: 100%;
    top: 0;
    left: 5px;
    color: $input-icon-color;
    text-align: center;
    pointer-events: none;
  }

  @include e(suffix) {
    position: absolute;
    height: 100%;
    top: 0;
    right: 5px;
    color: $input-icon-color;
    text-align: center;

    @include e(clear) {
      cursor: pointer;

      &:hover {
        color: $input-clear-hover-color;
      }
    }

    @include e(eye) {
      cursor: pointer;

      &:hover {
        color: $input-clear-hover-color;
      }
    }

    @include e(count) {
      display: inline-flex;
      height: 100%;
      padding: 0 5px;
      align-items: center;
      color: $color-info;
      font-size: 12px;
    }
  }

  @include when(disabled) {
    @include e(inner) {
      color: $disabled-default-color;
      border-color: $disabled-default-border-color;
      background-color: $disabled-default-background-color;
      cursor: not-allowed;

      &::placeholder {
        color: $input-disabled-placeholder-color;
      }
    }
  }

  @include when(exceed) {
    @include e(inner) {
      border-color: $color-danger;
    }
    @include e(count) {
      color: $color-danger;
    }
  }

  @include m(prefix) {
    @include e(inner) {
      padding-left: 30px;
    }
  }

  @include m(suffix) {
    @include e(inner) {
      padding-right: 30px;
    }
  }

  @include m(medium) {
    font-size: $input-medium-font-size;
    @include e(inner) {
      height: $input-medium-height;
      line-height: $input-medium-height;
    }
    .fa {
      line-height: $input-medium-height;
    }
  }

  @include m(small) {
    font-size: $input-small-font-size;
    @include e(inner) {
      height: $input-small-height;
      line-height: $input-small-height;
    }
    .fa {
      line-height: $input-small-height;
    }
  }

  @include m(mini) {
    font-size: $input-mini-font-size;
    @include e(inner) {
      height: $input-mini-height;
      line-height: $input-mini-height;
    }
    .fa {
      line-height: $input-mini-height;
    }
  }
}

@include b(input-group) {
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing:0;

  > .liu-input__inner {
    display: table-cell;
    vertical-align: middle;
  }

  @include e((prepend, append)) {
    display: table-cell;
    vertical-align: middle;
    width: 1px;
    padding: 0 20px;
    color: $color-info;
    white-space: nowrap;
    border: $border-default;
    border-radius: $input-border-radius;
    background-color: $background-color-default;

    .liu-button, .liu-select {
      margin: -10px -20px;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
      border-color: transparent;
      background-color: transparent;
    }
  }

  @include e(prepend) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include e(append) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include m(prepend) {
    .liu-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include m(append) {
    .liu-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

@include b(textarea) {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-default;

  @include e(inner) {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 5px 15px;
    font-size: inherit;
    border: $input-border;
    border-radius: $input-border-radius;
    color: $input-font-color;
    background-color: $input-background-color;
    transition: $border-default-transition;

    &::placeholder {
      border-color: $color-text-placeholder;
    }

    &:hover {
      border-color: $input-border-color-hover;
    }

    &:focus {
      outline: none;
      border-color: $input-border-color-focus;
    }
  }

  @include when(disabled) {
    @include e(inner) {
      background-color: $input-disabled-background-color;
      border-color: $disabled-default-border-color;
      color: $input-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $input-disabled-placeholder-color;
      }
    }
  }

  @include when(exceed) {
    @include e(inner) {
      border-color: $color-danger;
    }

    .liu-input__count {
      color: $color-danger;
    }
  }

  & .liu-input__count {
    position: absolute;
    bottom: 5px;
    right: 12px;
    color: $color-info;
  }
}
