@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
};

@mixin button-variant($color, $background-color, $border-color){
  color: $color;
  border-color: $border-color;
  background-color: $background-color;

  &:hover, &:focus {
    color: $color;
    border-color: mix($color-white, $border-color, $button-hover-tint-percent);
    background-color: mix($color-white, $background-color, $button-hover-tint-percent);
  }

  &:active {
    color: $color;
    border-color: mix($color-black, $border-color, $button-active-shade-percent);
    background-color: mix($color-black, $background-color, $button-active-shade-percent);
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $color-white;
      border-color: mix($border-color, $color-white);
      background-color: mix($background-color, $color-white);
    }
  }

  &.is-plain {
    @include button-plain($background-color);
  }
}

@mixin button-plain($color) {
  color: $color;
  border-color: mix($color-white, $color, 60%);
  background-color: mix($color-white, $color, 90%);

  &:hover, &:focus {
    color: $color-white;
    border-color: $color;
    background-color: $color;
  }

  &:active {
    color: $color-white;
    border-color: mix($color-black, $color, $button-active-shade-percent);
    background-color: mix($color-black, $color, $button-active-shade-percent);
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($color-white, $color, 40%);
      border-color: mix($color-white, $color, 80%);
      background-color: mix($color-white, $color, 90%);
    }
  }
}
