@import 'conf';
@import 'function';

// BEM
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
};

@mixin e($element) {
  $E: $element !global;
  $selector: &;

  $currentSelector: '';
  @each $item in $element {
    $currentSelector: #{ $currentSelector + '.' + $B + $element-separator + $item + ',' }
  }

  @if containSpecialRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content
        }
      }
    }
  } @else {
    @at-root {
      #{$currentSelector} {
        @content
      }
    }
  }
}

@mixin m($modifier) {
  $currentSelector: '';
  @each $item in $modifier {
    $currentSelector: #{ $currentSelector + & + '--' + $item + ',' };
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
};

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
};
