// color
$color-white: #fff !default;
$color-black: #000 !default;

$color-primary: #409eff !default;
$color-success: #67C23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-info: #909399 !default;

$color-primary-light-1: mix($color-white, $color-primary, 10%) !default; /* 53a8ff */
$color-primary-light-2: mix($color-white, $color-primary, 20%) !default; /* 66b1ff */
$color-primary-light-3: mix($color-white, $color-primary, 30%) !default; /* 79bbff */
$color-primary-light-4: mix($color-white, $color-primary, 40%) !default; /* 8cc5ff */
$color-primary-light-5: mix($color-white, $color-primary, 50%) !default; /* a0cfff */
$color-primary-light-6: mix($color-white, $color-primary, 60%) !default; /* b3d8ff */
$color-primary-light-7: mix($color-white, $color-primary, 70%) !default; /* c6e2ff */
$color-primary-light-8: mix($color-white, $color-primary, 80%) !default; /* d9ecff */
$color-primary-light-9: mix($color-white, $color-primary, 90%) !default; /* ecf5ff */

$color-text-primary: #303133 !default;
$color-text-regular: #606266 !default;
$color-text-secondary: #909399 !default;
$color-text-placeholder: #c0c4cc !default;

$background-color-default: #F5F7FA !default;

// font
$font-size-default: 14px !default;
$font-weight-default: 500 !default;

// border
$border-default-width: 1px !default;
$border-default-style: solid !default;
$border-default-color: #dcdfe6 !default;
$border-default: $border-default-width $border-default-style $border-default-color !default;
$border-default-radius: 4px !default;
$border-color-light: #E4E7ED !default;
$border-color-lighter: #ebeef5 !default;
$border-color-hover: $color-text-placeholder !default;
$border-radius-circle: 100% !default;

/* disabled */
$disabled-default-background-color: $background-color-default !default;
$disabled-default-color: $color-text-placeholder !default;
$disabled-default-border-color: $border-color-light !default;

// transition
$border-default-transition: border-color .2s cubic-bezier(.645,.045,.355,1) !default;


/* button */
$button-default-bgc: $color-white !default;
$button-default-border: $border-default-color !default;
$button-default-color: $color-text-regular !default;
$button-default-weight: $font-weight-default !default;
$button-font-size: 14px !default;
$button-padding-vertical: 12px !default;
$button-padding-horizontal: 20px !default;
// medium
$button-medium-font-size: 14px !default;
$button-medium-border-radius: $border-default-radius !default;
$button-medium-padding-vertical: 10px !default;
$button-medium-padding-horizontal: 20px !default;
// small
$button-small-font-size: 12px !default;
$button-small-border-radius: #{$border-default-radius - 1} !default;
$button-small-padding-vertical: 9px !default;
$button-small-padding-horizontal: 15px !default;
// mini
$button-mini-font-size: 12px !default;
$button-mini-border-radius: #{$border-default-radius - 1} !default;
$button-mini-padding-vertical: 7px !default;
$button-mini-padding-horizontal: 15px !default;

$button-border-radius: $border-default-radius !default;
$button-active-shade-percent: 10% !default;
$button-hover-tint-percent: 20% !default;
$button-disabled-color: $color-text-placeholder !default;
$button-disabled-full: $color-white !default;
$button-disabled-border-color: $border-color-lighter !default;


/* input */
$input-width: 140px !default;
$input-height: 40px !default;
$input-font-size: $font-size-default !default;
$input-font-color: $color-text-regular !default;
$input-icon-color: $color-text-placeholder !default;
$input-border: $border-default !default;
$input-border-radius: $border-default-radius !default;
$input-border-color-hover: $border-color-hover !default;
$input-border-color-focus: $color-primary !default;
$input-clear-hover-color: $color-text-secondary !default;
$input-placeholder-color: $color-text-placeholder !default;
$input-background-color: $color-white !default;
// size
$input-medium-height: 36px !default;
$input-medium-font-size: 14px !default;
$input-small-height: 32px !default;
$input-small-font-size: 13px !default;
$input-mini-height: 28px !default;
$input-mini-font-size: 12px !default;
// disabled
$input-disabled-background-color: $disabled-default-background-color !default;
$input-disabled-border: $disabled-default-border-color !default;
$input-disabled-color: $disabled-default-color !default;
$input-disabled-placeholder-color: $color-text-placeholder !default;

/* radio */
$radio-font-size: $font-size-default !default;
$radio-font-color: $color-text-regular !default;
$radio-font-weight: $font-weight-default !default;
$radio-input-border: $border-default !default;
$radio-input-border-radius: $border-radius-circle !default;
$radio-input-height: 14px !default;
$radio-input-width: 14px !default;
$radio-input-background-color: $color-white !default;
$radio-input-border-color-hover: $color-primary !default;
$radio-checked-font-color: $color-primary !default;
$radio-checked-input-border-color: $color-primary !default;
$radio-checked-input-background-color: $color-white !default;
$radio-checked-icon-color: $color-primary !default;

$radio-bordered-padding: 12px 16px 0 12px !default;
$radio-bordered-height: 40px !default;

$radio-bordered-medium-padding: 10px 20px 0 10px !default;
$radio-bordered-small-padding: 8px 15px 0 10px !default;
$radio-bordered-mini-padding: 6px 15px 0 10px !default;
$radio-bordered-medium-input-height: 14px !default;
$radio-bordered-medium-input-width: 14px !default;
$radio-bordered-medium-height: 36px !default;
$radio-bordered-small-input-height: 12px !default;
$radio-bordered-small-input-width: 12px !default;
$radio-bordered-small-height: 32px !default;
$radio-bordered-mini-input-height: 12px !default;
$radio-bordered-mini-input-width: 12px !default;
$radio-bordered-mini-height: 28px !default;

$radio-disabled-input-border-color: $disabled-default-border-color !default;
$radio-disabled-input-fill: $background-color-default !default;
$radio-disabled-icon-color: $background-color-default !default;
$radio-disabled-checked-input-border-color: $disabled-default-border-color !default;
$radio-disabled-checked-input-fill: $background-color-default !default;
$radio-disabled-checked-icon-color: $color-text-placeholder !default;
